body {
    background-image: url('logos/1asyzovvrn8a1.gif');
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo al desplazarse */
}
/*es para el apartado de web*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*es para el cuadro de arriba*/
.top-bar {
    background-color: #0f0064;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}
.logo img {
    height: 50px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover {
    color: #317dd4;
}
